@media screen and (max-width: 1200px) {
  .about-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  #about-us {
    background-size: 100%;
    padding: 100px 40px;
  }
  .about-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #about-us {
    padding: 0;
  }
  .about-container {
    padding: 60px;
  }
}
/* ------------Navbar------------- */
@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .navbar-list {
    top: 50px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: #f9059b;
    border: 2px solid #232425;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
    position: absolute;
  }
  .menu-label {
    display: flex;

    order: 2;
    cursor: pointer;
  }

  .menu-label i {
    height: 20px;
    width: 25px;
  }

  .open-menu {
    display: flex;
  }
}

/* ------------Contact------------- */
@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "map"
      "direct"
      "form";
    gap: 10px;
  }
  .contact-map iframe {
    /* margin-right: 20px; */
    width: 80%;
    height: 200px;
    margin: 0 40px 20px;
  }
  .contact-direct {
    padding: 1em;
    border-radius: 5px;
    border: 2px solid;
    width: 80%;
    margin: 40px;
  }

  .contact-direct-item {
    margin: 10px 0;
    text-align: center;
  }

  .contact-direct-title {
    margin-bottom: 5px;
  }

  .form-control input,
  .form-item-full textarea {
    width: 80%;
    margin: 0 40px;
  }
  .form-control input {
    width: 60%;
  }

  .form-control button {
    max-width: none;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .contact-direct {
    font-size: 14px;
  }

  .contact-direct-title {
    font-size: 14px;
  }

  .contact-direct-text {
    font-size: 12px;
  }

  .form-control label {
    font-size: 14px;
  }

  .form-control input,
  .form-item-full textarea {
    font-size: 14px;
  }

  .form-control button {
    font-size: 14px;
  }
}

/* ------------Footer---- */
/* Responsive Design - adaptable a dispositivos moviles*/

@media (max-width: 992px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo,
  .footer-redes-sociales-container,
  .footer-links {
    margin: 20px 0;
  }
  .footer-left-fraction {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer-redes-sociales-container i {
    margin: 10px;
    width: 25px;
    height: 25px;
  }
  .footer-links li {
    margin-bottom: 5px;
  }
  .footer-links a {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  #hero {
    height: auto;
    min-height: 100vh;
  }

  #hero .info h1 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  #hero .info h2 {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  #hero .info p {
    font-size: 18px;
    max-width: 80%;
  }
  #hero .info button {
    font-size: 16px;
    padding: 10px 20px;
  }
  #hero-video {
    object-position: 50% 30%;
  }
}

@media (max-width: 576px) {
  #hero .info h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  #hero .info h2 {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
  #hero .info p {
    font-size: 16px;
    max-width: 90%;
  }
  #hero .info button {
    font-size: 14px;
    padding: 8px 16px;
  }
  #hero-video {
    object-position: 50% 10%;
  }
}

/* Max-width 992px */
@media (max-width: 992px) {
  #products {
    padding: 20px 0;
  }

  .product-container {
    padding: 20px 0;
  }

  .card-container {
    margin-top: 20px;
  }
}

/* Max-width 576px */
@media (max-width: 576px) {
  .card {
    width: 200px;
    height: 320px;
  }

  .product-card-image {
    padding: 20px 0px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price,
  .product-duration {
    padding: 10px;
  }
}
