@media screen and (max-width: 1200px) {
  .about-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  #about-us {
    background-size: 100%;
    padding: 100px 40px;
  }
  .about-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #about-us {
    padding: 0;
  }
  .about-container {
    padding: 60px;
  }
}
/* ------------Contact------------- */
@media (max-width: 992px) {
  .contact-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "map"
      "direct"
      "form";
    gap: 10px;
  }
  .contact-map iframe {
    /* margin-right: 20px; */
    width: 80%;
    height: 200px;
    margin: 0 40px 20px;
  }
  .contact-direct {
    padding: 1em;
    border-radius: 5px;
    border: 2px solid;
    width: 80%;
    margin: 40px;
  }

  .contact-direct-item {
    margin: 10px 0;
    text-align: center;
  }

  .contact-direct-title {
    margin-bottom: 5px;
  }

  .form-control input,
  .form-item-full textarea {
    width: 80%;
    margin: 0 40px;
  }
  .form-control input {
    width: 60%;
  }

  .form-control button {
    max-width: none;
    width: 60%;
  }
}

@media (max-width: 576px) {
  .contact-direct {
    font-size: 14px;
  }

  .contact-direct-title {
    font-size: 14px;
  }

  .contact-direct-text {
    font-size: 12px;
  }

  .form-control label {
    font-size: 14px;
  }

  .form-control input,
  .form-item-full textarea {
    font-size: 14px;
  }

  .form-control button {
    font-size: 14px;
  }
}

/* ------------Footer---- */
/* Responsive Design - adaptable a dispositivos moviles*/

@media (max-width: 992px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo,
  .footer-redes-sociales-container,
  .footer-links {
    margin: 20px 0;
  }
  .footer-left-fraction {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer-redes-sociales-container i {
    margin: 10px;
    width: 25px;
    height: 25px;
  }
  .footer-links li {
    margin-bottom: 5px;
  }
  .footer-links a {
    font-size: 12px;
  }
}
