@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;

  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f5f5f5;
  /* flex-wrap: wrap; */
}

header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 2;
  background: #2e2e2e;
  color: #fff;
  width: 100%;
  justify-content: space-between;
  padding: 0px 25px;
  align-items: center;
  height: 60px;
  transition: background-color 0.5s ease-in-out;
  font-weight: bold;
}

.logo {
  width: 70px;
  height: 70px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin-top: 40px;
}
.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid #2e2e2e;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
h2 {
  font-size: 2em;
  /* color: #fff; */
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 15px;
  flex: 1;
  max-width: 400px;
  border-bottom: 2px solid #2e2e2e;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  /* color: #fff; */
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.forget a {
  color: #2e2e2e;
}
.forget label input {
  margin-right: 3px;
}

.forget label a:hover,
.register a:hover {
  color: #c55f5f;
}
button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  background-color: #2e2e2e;
  color: #fff;
  font-weight: 600;
}

button:hover {
  background-color: #706d6d;
}
.register {
  font-size: 0.9em;
  /* color: #fff; */
  text-align: center;
  margin: 25px 0 10px;
}
.register p {
  color: #2e2e2e;
  font-weight: 600;
}
.register a,
.forget a {
  color: #8e0808;
  font-weight: 600;
}
.register p a:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .form-box {
    width: 90%;
  }
}

.inputbox.error label {
  color: red;
}

.inputbox.error small {
  color: red;
  visibility: visible;
}

.inputbox.success label {
  color: green;
}
