@media (max-width: 992px) {
  /* ------------Navbar------------- */
  .navbar {
    gap: 10px;
    display: contents;
  }
  .navbar-list {
    top: 60px;
    left: 5%;
    right: 5%;
    width: 90%;
    flex-direction: column;
    background: #1e1e1e;
    opacity: 0.9;
    border: 2px solid #232425;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    align-items: flex-start;
    padding: 45px 30px;
    gap: 25px;
    z-index: 2;
    display: none;
    position: absolute;
  }
  .dark .navbar-list {
    background: #e1e1e1;
  }
  .dark .navbar-list a {
    color: #1e1e1e;
  }
  .menu-label {
    display: flex;

    order: 2;
    cursor: pointer;
  }

  .menu-label i {
    height: 20px;
    width: 25px;
  }

  .open-menu {
    display: flex;
  }
  /* ----------------------HERO--------------------- */
  #hero {
    height: auto;
    min-height: 100vh;
  }

  #hero .info h1 {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  #hero .info h2 {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  #hero .info p {
    font-size: 18px;
    max-width: 80%;
  }
  #hero .info button {
    font-size: 16px;
    padding: 10px 20px;
  }
  #hero-video {
    object-position: 50% 30%;
  }
  .hero-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 200px;
  }
  /* -------------------PRODUCTOS------------------- */
  #products {
    padding: 20px 0;
  }

  .product-container {
    padding: 20px 0;
  }

  .card-container {
    margin-top: 20px;
  }
  .categories-menu {
    right: 5%;
    width: 90%;
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    align-items: center;
    z-index: 1;
    display: none;
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    justify-content: center;
    background: linear-gradient(to bottom, #6b6365, #0022ff);
  }

  .categories-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .categories-label {
    display: block;
    cursor: pointer;
    order: 2;
    background: linear-gradient(to bottom, #6b6365, #0022ff);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
  }
  .bts-fil {
    position: relative;
  }

  .span-label {
    height: 50px;
    width: 55px;
  }

  #categories-toggle:checked + .categories-menu {
    display: flex;
  }

  .categories-menu li {
    display: block;
  }
  .categories-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
  }
  .btn-ico {
    display: none;
  }
  .bts-fil ul {
    display: none;
  }
  /* -------------------ABOUT-US-------------------  */
  #about-us {
    background-size: 100%;
    padding: 100px 40px;
  }
  .about-container {
    width: 100%;
  }
  /* ----------------------CONTACT--------------- */
  .contact-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "map"
      "direct"
      "form";
    gap: 10px;
  }
  .contact-map {
    /* margin-right: 20px; */
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .contact-direct {
    display: flex;
    text-align: center;

    padding: 1em;
    border-radius: 5px;
    border: 2px solid;
    width: 80%;
    margin: 20px auto;
  }

  .contact-info {
    margin: 10px 0;
    text-align: center;
  }

  .titulo-info {
    margin-bottom: 5px;
  }

  /* .campo-formulario input,
  .campo-formulario-full textarea {
    width: 80%;
    margin: 0 40px;
  }
  .campo-formulario input {
    width: 60%;
  } */

  .campo-formulario button {
    max-width: none;
    width: 60%;
  }
  .contenedor-formulario {
    width: 100%;
    margin: 20px auto;
  }

  .contenedor-formulario form {
    margin: 20px auto;
    width: 80%;
  }

  /* -------------------FOOTER------------------- */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo,
  .footer-redes-sociales-container,
  .footer-links {
    margin: 20px 0;
  }
  .footer-left-fraction {
    display: none;
  }
}

@media (max-width: 576px) {
  .contact-direct {
    font-size: 14px;
  }

  .titulo-info {
    font-size: 14px;
  }

  .texto-info {
    font-size: 12px;
  }

  .campo-formulario label {
    font-size: 14px;
  }

  .campo-formulario input,
  .campo-formulario-full textarea {
    font-size: 14px;
  }

  .campo-formulario button {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #contact {
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  /* ------------HERO--------------- */
  #hero .info h1 {
    font-size: 24px;
    margin-bottom: 0.5rem;
  }
  #hero .info h2 {
    font-size: 18px;
    margin-bottom: 0.5rem;
  }
  #hero .info p {
    font-size: 16px;
    max-width: 90%;
  }
  #hero .info button {
    font-size: 14px;
    padding: 8px 16px;
  }
  #hero-video {
    object-position: 50% 10%;
  }
  /* ------------PRODUCTOS--------------- */
  .card {
    width: 230px;
    height: 320px;
  }

  .product-card-image {
    padding: 20px 0px;
  }

  .product-name {
    font-size: 16px;
  }

  .product-price,
  .product-duration {
    padding: 10px;
  }
  /* ------------ABOUT-US------------- */
  #about-us {
    padding: 0;
  }
  .about-container {
    padding: 60px;
  }
  /* ------------FOOTER--------------- */
  .footer-redes-sociales-container i {
    margin: 10px;
    width: 25px;
    height: 25px;
  }
  .footer-links li {
    margin-bottom: 5px;
  }
  .footer-links a {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  .cart {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 16px;
    box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.15);
    z-index: 999;
  }

  .cart-item {
    flex-direction: column;
    width: 90%;
    padding: 10px;
  }

  .cart-item {
    margin-bottom: 16px;
  }

  .cart-item img {
    width: 80%;
    height: 200px;
    margin-bottom: 8px;
  }

  .cart .item-title {
    font-size: 16px;
  }

  .cart .item-precio,
  .item-duracion {
    font-size: 14px;
  }

  .cart .total {
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
    padding: 0px 100px 0px 0px;
  }
  .btn-delete {
    margin-right: 30px;
  }
  .btns-cart {
    width: 80%;
  }
  .divider {
    width: 80%;
  }
  .contact-map {
    display: none;
  }
}

@media (max-width: 400px) {
  .categories-menu {
    display: flex;
    flex-direction: column;
    background: transparent;
  }
  .categories-menu button {
    border-radius: 40px;
  }
}
